* {
    background-color: lightblue;

}

.aboutImg {
    width: 400px;
    display: block;
}

.aboutText {
    display: block;
}
.contact {
    display: flex;
    flex-direction: column;
}

h1 {
    color: navy;
    text-align: center;
}

mark {
    background-color: navy;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
    margin: 10px 10px;
}

.project1 {
    background-image: url(./images/1responsiverunbuddy.png);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.project2 {
    background-image: url(./images/2guessinggame.png);
}

.project3 {
    background-image: url(./images/3horiseon.png);
}

.project-img {
    width: 90%;
    min-height: 200px;
    background-size: cover;
    display: flex;
    padding: 15px;
    margin: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    font-style: strong;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .aboutImg {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .aboutText {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .projects {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }

    .project1 {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}